.pj_AboutUs ul {
    list-style: none;
}
.pj_AboutUs ul i{
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.pj_AboutUs ul li {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.pj_AboutUs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}