
:root {
    --primary-color: #009f4d;
    --secondary-color: #fff;
    --title-color: #7e7d7d;
    --heading-color: #213364;
    --font-color: #666;
    --newstitle-color:#999;
    --footer-color:#97a1a9;
    --bg-white: #fff;
    --bg-grey: #f7f7f7;
    --bg-footer: #151421;
    --bg-lightgrey: #f8f9fa;
    --bg-TurnOnMoon-1: #151421;
    --bg-TurnOnMoon-2: #100f19;
    
    --fc-section:#7e7d7d;
    --fc-title: #3f3a64;
    --fc-primary: #666;
    --bg-button: #00a63f;
    --bg-button_hover: #008030;
    --c-white:#fff;

  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: var(--fc-primary);
}

.pj_Section{
    padding:70px 0;
}

.pj_title p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--fc-section) ;/* #7e7d7d;*/
    margin-bottom: 0;
}

.pj_title h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: var(--fc-title);
}

.button{
    background-color: var(--bg-button);
    padding: 15px 50px;
    
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    
    border-radius: 8px;
    border: none;
    color: var(--c-white);
    /* user-select: none; */
    cursor: pointer;
}