/* !GOBAL */

:root {
    --primary-color: #009f4d;
    --secondary-color: #fff;
    --title-color: #7e7d7d;
    --heading-color: #213364;
    --font-color: #666;
    --newstitle-color:#999;
    --footer-color:#97a1a9;
    --bg-white: #fff;
    --bg-grey: #f7f7f7;
    --bg-footer: #151421;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #666;;
}

.pj_Section{
    padding:70px 0;
}

.pj_Title p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    
}
.pj_Title h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

/* !ANIMATION */

/* !HEADER */
.pj_header {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
.pj_header .navbar{
    justify-content: space-between;
}
.pj_header .navbar-brand p:first-of-type{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    
    margin-bottom: 0;
}

.pj_header .navbar-brand p:last-of-type{
font-size: 14px;
font-weight: 600;
padding-left: 46px;

}

.pj_header .navbar-brand i{
    color: var(--primary-color);
}


.pj_header .navbar-nav {
    margin: auto 0 !important;
}
.pj_header .navbar-nav .nav-link{
    color: var(--secondary-color);
}

.pj_header .pj_header__mode i:first-of-type{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);;
    font-size: 14px;
}

/* !CAROUSEL */


/* !ABOUT US */


/* !PRODUCT */


/* !SERVICE */

/* !GALLERY */

/* !PROGRESS */

/* !FEEDBACK */

/* !NEWS */

/* !FOOTER */

