.pj_Service {
    text-align: center;
}

.pj_Service .card{
    border: 0;

}

.pj_Service .card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pj_Service .card-body{
    /* position: relative; */
}

.pj_Service .card-body .card-title{
    /* position: absolute;
    top: -10%;
    left: 50%; */
    transform: translateY(-45px);

    border-radius: 5px;
    background-color: white;
    border: 1px solid white;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;

    padding: 12px 35px;

    text-align: center;

    display: inline-block;

    transition: all .5s;
}

.pj_Service .card-body .card-title a{
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
}

.pj_Service .card-body .card-title:hover{
    cursor: pointer;
}

.pj_Service .card-body .card-title:hover a{
    color: var(--primary-color);
}

.pj_Service .card-body .card-text{
    margin-top: -40px;
}

.pj_Service .card-body a{
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all .5s;
}

.pj_Service .card-body a:hover{
    color: var(--primary-color);
}